


<head>
<title>Page Title</title>
</head>
<body>

<table border="1">
	<tr>
		<th>ID</th>
		<th>NomLoc</th>
        <td>Modifier</td>
		<td>Supprimer</td>

        
	</tr>
	<tr {% for l in localisation %}>

		<td>{{l.id}}</td>
		<td>{{l.NomLoc}}</td>
        <td><a href="{{ path('modifier',{'id':l.id})}}">Modifier</a></td>
        <td><a href="{{ path('dl',{'id':l.id})}}">Supprimer</a></td>

	</tr>{% endfor %}
</table>

</body>

